.rightbar {
    height: calc(100vh - 4rem);
    overflow-y: scroll;
    scrollbar-color: rgb(179, 179, 179) #f1f1f1; /* thumb and track color */
    scrollbar-width: thin;
    position: sticky;
    top: 4rem;
}

.rightbar::-webkit-scrollbar { width: 5px; }
.rightbar::-webkit-scrollbar-track { background-color: #f1f1f1; }
.rightbar::-webkit-scrollbar-thumb { background-color: rgb(179, 179, 179); }