@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import 'antd/dist/antd.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    border-width: 0;
    border-style: solid;
}

a {
    color: unset;
}

a:hover {
    color: unset;
}

.ant-input {
    background-color: inherit;
}