.leftbar {
    @apply w-1/4;
    height: calc(100vh - 4rem);
    overflow-y: scroll;
    scrollbar-color: rgb(179, 179, 179) #f1f1f1; /* thumb and track color */
    scrollbar-width: thin;
    position: sticky;
    top: 4rem;
}

.leftbar::-webkit-scrollbar { width: 5px; }
.leftbar::-webkit-scrollbar-track { background-color: #f1f1f1; }
.leftbar::-webkit-scrollbar-thumb { background-color: rgb(179, 179, 179); }

.leftbar-list {
    @apply flex flex-col border-b-2 border-gray-300;
}

.leftbar-list-item {
    @apply flex items-center cursor-pointer pl-8 py-3 hover:bg-gray-200;
}

.leftbar-icon {
    @apply mr-4;
}