
.rightside{ 
    @apply h-full rounded-lg object-cover relative flex flex-col justify-center items-center px-24;
    background-size: cover;
    background-image: url(https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/signin-ill.jpg);
    overflow: hidden;
}

.rightside-mask {
    background-image: linear-gradient(310deg,#5e72e4,#825ee4);
    opacity: .6;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.form-input {
    @apply border border-gray-300 p-3 font-light rounded-lg focus:outline-none;
}

.form-input:focus {
    @apply border-blue-500;
}