@import 'antd/dist/antd.css';

.ant-input {
    background-color: inherit;
}

.Comment .ant-list-empty-text {
    padding: 0;
}

.FullpageOnMobileModal .ant-modal-content{
    @apply fixed sm:static inset-0 sm:max-h-[80vh] scroller;
    overflow-y: auto;
}

.FullpageOnMobileModal .ant-form-item .ant-form-item-label,
.FullpageOnMobileModal .ant-form-item .ant-form-item-control{
    flex: unset;
    padding-bottom: 0;
}

.new-message-modal .ant-modal-content{
    @apply fixed sm:static inset-0 sm:max-h-[80vh];
    overflow-y: auto;
}

.new-message-modal .ant-form-item .ant-form-item-label,
.new-message-modal .ant-form-item .ant-form-item-control{
    flex: unset;
    padding-bottom: 0;
}

.ant-table {
    @apply text-gray-600;
    font-size: 13px;
}