@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import 'antd/dist/antd.css';
@import './tailwind.css';

* {
    border-width: 0;
    border-style: solid;
    --header-height: 4rem;
}

a {
    color: unset;
}

a:hover {
    color: unset;
}

.ant-input {
    background-color: inherit;
}

.Comment .ant-list-empty-text {
    padding: 0;
}

.thin-scrollbar {
    scrollbar-color: rgb(179, 179, 179) #f1f1f1; /* thumb and track color */
    scrollbar-width: thin;
}

.thin-scrollbar::-webkit-scrollbar { width: 5px; }
.thin-scrollbar::-webkit-scrollbar-track { background-color: #f1f1f1; }
.thin-scrollbar::-webkit-scrollbar-thumb { background-color: rgb(179, 179, 179); }


.header-height {
    height: var(--header-height);
}

.btn-green {
    @apply py-1 px-4 text-white bg-green-500 border-none hover:bg-green-600 hover:text-white rounded transition;
}

.btn-green:active, .btn-green:focus{
    @apply text-white bg-green-500 border-none;
}

.scroller {
    scrollbar-color: rgb(179, 179, 179) #f1f1f1; /* thumb and track color */
    scrollbar-width: thin;
}

.scroller::-webkit-scrollbar { width: 5px; }
.scroller::-webkit-scrollbar-track { background-color: #f1f1f1; }
.scroller::-webkit-scrollbar-thumb { background-color: rgb(179, 179, 179); }

/*Scroller will apply to child*/
.child-scroller > div{
    @apply scroller;
}

.FullpageOnMobileModal .ant-modal-content{
    @apply fixed sm:static inset-0 sm:max-h-[80vh] scroller;
    overflow-y: auto;
}

.FullpageOnMobileModal .ant-form-item .ant-form-item-label,
.FullpageOnMobileModal .ant-form-item .ant-form-item-control{
    flex: unset;
    padding-bottom: 0;
}

.new-message-modal .ant-modal-content{
    @apply fixed sm:static inset-0 sm:max-h-[80vh];
    overflow-y: auto;
}

.new-message-modal .ant-form-item .ant-form-item-label,
.new-message-modal .ant-form-item .ant-form-item-control{
    flex: unset;
    padding-bottom: 0;
}

.link {
    @apply text-blue-500 hover:text-blue-600;
}

.page-wrapper {
    @apply max-w-5xl mx-auto sm:px-4;
}

.btn {
    @apply whitespace-nowrap py-2 px-6 font-bold text-sm cursor-pointer transition;
}

.btn.btn-secondary {
    @apply bg-gray-200 text-gray-500 hover:bg-gray-300;
}

.btn.btn-secondary.active {
    @apply bg-blue-200 text-blue-500 hover:bg-blue-300;
}

.ReactQueryDevtoolsPanel button{
    color: black;
}

.ant-table {
    @apply text-gray-600;
    font-size: 13px;
}