.cover {
    @apply bg-red-500;
    padding-top: 25%;
    position: relative;
    display: flex;
    justify-content: center;
}

.cover-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-picture {
    position: absolute;
    bottom: -60px;
    border: 2px solid white;
}