.messages-container {
    height: calc(100vh - 4rem);
}

.messages-list {
    scrollbar-color: rgb(179, 179, 179) #f1f1f1; /* thumb and track color */
    scrollbar-width: thin;
}

.messages-list::-webkit-scrollbar { width: 5px; }
.messages-list::-webkit-scrollbar-track { background-color: #f1f1f1; }
.messages-list::-webkit-scrollbar-thumb { background-color: rgb(179, 179, 179); }